# Python packages requirements
Pillow~=9.5.0         # Image generation
pyserial~=3.5         # Serial linl to communicate with the display
numpy~=1.24.4         # Efficient image serialization
PyYAML~=6.0.1         # For themes files
psutil~=5.9.5         # CPU / disk / network metrics
GPUtil~=1.4.0         # Nvidia GPU
pystray~=0.19.4       # Tray icon (all OS)
babel~=2.12.1         # Date/time formatting
ruamel.yaml~=0.17.32  # For configuration editor
sv-ttk~=2.5.5         # Tk Sun Valley theme for configuration editor

# Following packages are for AMD GPU on Linux
pyamdgpuinfo~=2.1.5; sys_platform=="linux" and python_version <= "3.11"
# For Python > 3.11, you need to install pyamdgpuinfo manually: see https://github.com/mathoudebine/turing-smart-screen-python/wiki/Troubleshooting#linux--macos-no-supported-gpu-found-with-an-amd-gpu-and-python--311

# Following packages are for AMD GPU on Windows
pyadl~=0.1; sys_platform=="win32"

# Following packages are for LibreHardwareMonitor integration on Windows
pythonnet~=3.0.2; sys_platform=="win32"
pywin32>=306; sys_platform=="win32"
