[Unit]
Description=Turing Smart Screen
Requires=network-online.target
After=network-online.target

[Service]
Type=simple

; Don't forget to change the value here!
; There is no reason to run this program as root, just use your username
User=YOUR_USERNAME_HERE

; If you want to put the program in your home directory instead, remove 'ProtectHome=read-only' line below
WorkingDirectory=/opt/turing-smart-screen-python/

ExecStart=python3 main.py

; Always restart the script
Restart=always

; cf. https://www.darkcoding.net/software/the-joy-of-systemd/
; /usr, /boot and /etc are read-only
ProtectSystem=full
; $HOME is read only ..
ProtectHome=read-only
; /tmp is isolated from all other processes
PrivateTmp=true
; Don't allow process to raise privileges (e.g. disable suid)
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
